.description-bg {
    background-color: var(--color-p7);
    box-shadow: inset 0 80px var(--color-0), inset 0 -80px var(--color-0);
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.description-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.description-content {
    padding-top: 160px;
    padding-bottom: 160px;
}

.description-content > span {
    display: block;
    margin-bottom: 20px;
}

.description-content h2 {
    margin-bottom: 32px;
}

.description-content > p {
    margin-bottom: 20px;
}

.description a {
    margin-bottom: 80px;
}

.description-features {
    display: flex;
    gap: 40px;
}

.description-features h3 {
    margin-bottom: 8px;
    width: max-content;
}

.description-features img {
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .description-bg {
        box-shadow: initial;
    }
    .description {
        grid-template-columns: 1fr;
    }
    .description-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .description-image {
        display: none;
    }
    .description a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .description-features {
        flex-direction: column;
    }
}
