.vacancies-bg {
    background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.vacancies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(".#{$imgPath}/dec/top-right.svg") no-repeat top 40px right 20px;
}

.vacancies-image {
    display: grid;
}

.vacancies-image img {
    grid-area: 1/1;
}

.vacancies-image span {
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
    background: var(--color-12);
    display: inline-block;
    padding: 8px 16px 8px 8px;
    border-radius: 4px 0 0 4px;
}

.vacancies-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.vacancies h2,
.vacancies p {
    grid-column: 1/-1;
}

.vacancies h2 {
    margin-bottom: 20px;
}

.vacancies h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--color-p1);
    margin-bottom: 8px;
}

.vacancies p {
    margin-bottom: 32px;
}

.vacancies a {
    place-self: end;
}

.vacancies li {
    display: flex;
    align-items: center;
}

.vacancies ul {
    display: grid;
    gap: 16px;
}

.vacancies-content img {
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .vacancies-bg {
        background: var(--color-11);
    }
    .vacancies {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .vacancies-content {
        grid-template-columns: 1fr;
    }
    .vacancies ul {
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }
    .vacancies a {
        place-self: start;
    }
}
