:root {
    --color-0: #ffffff;
    --color-1: #f7f7f7;
    --color-2: #ededed;
    --color-3: #dedede;
    --color-4: #cccccc;
    --color-5: #77efff;
    --color-6: #66dfff;
    --color-7: #55cfff;
    --color-8: #44bfff;
    --color-9: #33aeee;
    --color-10: #229ddd;
    --color-11: #118ccc;
    --color-12: #007bbb;
    --color-p1: #ffbb00;
    --color-p2: #e4a30b;
    --color-p3: #a66f00;
    --color-p4: #664400;
    --color-p5: #332200;
    --color-p6: #ff6500;
    --color-p7: #ff5400;
}

.color-0 {
    color: var(--color-0);
}
.color-1 {
    color: var(--color-1);
}
.color-2 {
    color: var(--color-2);
}
.color-3 {
    color: var(--color-3);
}
.color-4 {
    color: var(--color-4);
}
.color-5 {
    color: var(--color-5);
}
.color-6 {
    color: var(--color-6);
}
.color-7 {
    color: var(--color-7);
}
.color-8 {
    color: var(--color-8);
}
.color-9 {
    color: var(--color-9);
}
.color-10 {
    color: var(--color-10);
}
.color-11 {
    color: var(--color-11);
}
.color-12 {
    color: var(--color-12);
}
.color-p1 {
    color: var(--color-p1);
}
.color-p2 {
    color: var(--color-p2);
}
.color-p3 {
    color: var(--color-p3);
}
.color-p4 {
    color: var(--color-p4);
}
.color-p5 {
    color: var(--color-p5);
}
.color-p6 {
    color: var(--color-p6);
}
.color-p7 {
    color: var(--color-p7);
}
