@charset "UTF-8";
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }

  .font-2-l,
.font-2-l-b {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }

  .font-1-xl,
.font-2-xl {
    font-size: 1.5rem;
  }
}
:root {
  --color-0: #ffffff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #cccccc;
  --color-5: #77efff;
  --color-6: #66dfff;
  --color-7: #55cfff;
  --color-8: #44bfff;
  --color-9: #33aeee;
  --color-10: #229ddd;
  --color-11: #118ccc;
  --color-12: #007bbb;
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p3: #a66f00;
  --color-p4: #664400;
  --color-p5: #332200;
  --color-p6: #ff6500;
  --color-p7: #ff5400;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.color-6 {
  color: var(--color-6);
}

.color-7 {
  color: var(--color-7);
}

.color-8 {
  color: var(--color-8);
}

.color-9 {
  color: var(--color-9);
}

.color-10 {
  color: var(--color-10);
}

.color-11 {
  color: var(--color-11);
}

.color-12 {
  color: var(--color-12);
}

.color-p1 {
  color: var(--color-p1);
}

.color-p2 {
  color: var(--color-p2);
}

.color-p3 {
  color: var(--color-p3);
}

.color-p4 {
  color: var(--color-p4);
}

.color-p5 {
  color: var(--color-p5);
}

.color-p6 {
  color: var(--color-p6);
}

.color-p7 {
  color: var(--color-p7);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

/** Global */
.header-bg {
  background-color: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--color-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.active::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: var(--color-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--color-10);
  }

  .header a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
.footer-bg {
  background-color: var(--color-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer h3 {
  margin-bottom: 32px;
}

.footer-contact ul {
  margin-bottom: 32px;
}
.footer-contact li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--color-p1);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-network {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--color-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
/** Utility */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button-center {
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.button.secondary {
  background: var(--color-10);
  color: var(--color-2);
}

.button.secondary:hover {
  background: var(--color-9);
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
}

.button.arrow:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
.link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--color-0);
}

/* titulo internas */
.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-11);
}

.title {
  background: url("../../img/dec/top-right.svg") no-repeat top right 20px;
}

.title p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .title-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
/* Home */
.introduction-bg {
  background: var(--color-12) url("../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--color-0);
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introduction-content {
  align-self: end;
  padding-bottom: 200px;
}

.introduction img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.introduction h1 {
  margin-bottom: 32px;
}

.introduction p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introduction-bg {
    background: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }

  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introduction-content {
    padding-bottom: 0px;
  }
  .introduction-content h1 {
    margin-bottom: 16px;
  }
  .introduction-content img {
    height: 300px;
    width: 100%;
  }
  .introduction-content .button {
    display: flex;
    margin: 0 auto;
  }
}
.description-bg {
  background-color: var(--color-p7);
  box-shadow: inset 0 80px var(--color-0), inset 0 -80px var(--color-0);
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.description-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.description-content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.description-content > span {
  display: block;
  margin-bottom: 20px;
}

.description-content h2 {
  margin-bottom: 32px;
}

.description-content > p {
  margin-bottom: 20px;
}

.description a {
  margin-bottom: 80px;
}

.description-features {
  display: flex;
  gap: 40px;
}

.description-features h3 {
  margin-bottom: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.description-features img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .description-bg {
    box-shadow: initial;
  }

  .description {
    grid-template-columns: 1fr;
  }

  .description-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .description-image {
    display: none;
  }

  .description a {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .description-features {
    flex-direction: column;
  }
}
.partners {
  padding-top: 60px;
  padding-bottom: 120px;
}

.partners h2 {
  margin-bottom: 60px;
}

.partners ul {
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.partners li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--color-2);
}

.partners img {
  margin: auto;
}

.partners li:first-child,
.partners li:nth-child(5) {
  border-left: none;
}

.partners li:nth-child(n+5) {
  border-top: 2px solid var(--color-2);
}

@media (max-width: 800px) {
  .partners {
    padding-bottom: 60px;
  }

  .partners h2 {
    margin-bottom: 20px;
  }

  .partners ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners li:nth-child(n+3) {
    border-top: 2px solid var(--color-2);
  }

  .partners li:nth-child(odd) {
    border-left: none;
  }
}
.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-p1);
  overflow: hidden;
}

.testimonial img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px;
}

.testimonial-content {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url("../img/dec/bottom-right-p.svg") no-repeat bottom 40px right 40px;
}

.testimonial-content p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.testimonial p::before,
.testimonial p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.testimonial p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.testimonial p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .testimonial img {
    max-height: 520px;
  }
}
@media (max-width: 800px) {
  .testimonial {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial img {
    max-height: 200px;
  }

  .testimonial-content {
    padding: 40px 20px;
    margin: auto;
  }
}
/* Vacancies */
.vacancies-list {
  padding-top: 60px;
  padding-bottom: 120px;
}
.vacancies-list h2 {
  margin-bottom: 40px;
}
.vacancies-list ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
.vacancies-list .button-container {
  margin-top: 40px;
}

#vacancy .vacancies-list ul {
  padding: 0px 0px 20px 0px;
}

.vacancies-list li {
  flex: 1;
  min-width: 280px;
}

.vacancies-list a {
  display: block;
}

.vacancies-list img {
  margin-bottom: 16px;
}

.vacancies-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.vacancies-list h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.2s;
}

.vacancies-list a:hover h3::before {
  width: 24px;
}

.vacancies-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .vacancies-list {
    padding-bottom: 60px;
  }

  .vacancies-list ul {
    gap: 20px;
  }
}
.vacancies-bg {
  background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.vacancies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(".../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.vacancies-image {
  display: grid;
}

.vacancies-image img {
  grid-area: 1/1;
}

.vacancies-image span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--color-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.vacancies-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.vacancies h2,
.vacancies p {
  grid-column: 1/-1;
}

.vacancies h2 {
  margin-bottom: 20px;
}

.vacancies h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.vacancies p {
  margin-bottom: 32px;
}

.vacancies a {
  place-self: end;
}

.vacancies li {
  display: flex;
  align-items: center;
}

.vacancies ul {
  display: grid;
  gap: 16px;
}

.vacancies-content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .vacancies-bg {
    background: var(--color-11);
  }

  .vacancies {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .vacancies-content {
    grid-template-columns: 1fr;
  }

  .vacancies ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .vacancies a {
    place-self: start;
  }
}
/* Blog */
.post-bg {
  background: var(--color-11);
}

.post {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

#post .post {
  padding-top: 0px;
}

.post h2 {
  grid-column: 1/-1;
}

.post-item {
  background-color: var(--color-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}

.post-item h3 {
  margin-bottom: 40px;
}

.post-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.post-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.post-item ul img {
  margin-left: -21px;
}

.post-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.post-item li + li {
  margin-top: 20px;
}

.post-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .post {
    grid-template-columns: 1fr;
  }
}
